html, body, #root { height: 100%; margin: 0; }
#settings {
    position: fixed;
    top: 0;
    right: 0;

    width: 200px;
    height: 100%;

    background: #fefefe;
    border-left: solid #eeeeee 1px;
}
#settings > div {
    margin: 18px;
    box-sizing: border-box;
    border-bottom: solid 1px #eee;
}
#settings label {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 11px;
    color: #444;
}
#settings input {
    width: 100%;
    box-sizing: content-box;
    color: #444;
}

#preview {
    display: block;
    float: left;

    height: 100%;
    width: calc( 100% - 200px );
}
.component {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
